[submodule "plugin/tmux/tmux-powerline"]
	path = plugin/tmux/tmux-powerline
	url = git://github.com/CapnKernul/tmux-powerline.git
[submodule "plugin/vim/vimfiles/bundle/ctrlp"]
	path = plugin/vim/vimfiles/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "plugin/vim/vimfiles/bundle/vroom"]
	path = plugin/vim/vimfiles/bundle/vroom
	url = git://github.com/skalnik/vim-vroom.git
[submodule "plugin/vim/vimfiles/bundle/surround"]
	path = plugin/vim/vimfiles/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "plugin/vim/vimfiles/bundle/ruby-refactoring"]
	path = plugin/vim/vimfiles/bundle/ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule "plugin/vim/vimfiles/bundle/repeat"]
	path = plugin/vim/vimfiles/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "plugin/vim/vimfiles/bundle/rails"]
	path = plugin/vim/vimfiles/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "plugin/vim/vimfiles/bundle/matchit"]
	path = plugin/vim/vimfiles/bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "plugin/vim/vimfiles/bundle/markdown"]
	path = plugin/vim/vimfiles/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "plugin/vim/vimfiles/bundle/endwise"]
	path = plugin/vim/vimfiles/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "plugin/vim/vimfiles/bundle/commentary"]
	path = plugin/vim/vimfiles/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "plugin/vim/vimfiles/bundle/solarized"]
	path = plugin/vim/vimfiles/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "plugin/vim/vimfiles/bundle/supertab"]
	path = plugin/vim/vimfiles/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "plugin/vim/vimfiles/bundle/powerline"]
	path = plugin/vim/vimfiles/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
